web-common-src/resources/wsdl/CapriSbscTrmnSO/CapriSbscTrmnSO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CapriSbscTrmnSOService" 
targetNamespace="http://juice.so.itl.mvno.kt.com/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="http://juice.so.itl.mvno.kt.com/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://juice.so.itl.mvno.kt.com/" elementFormDefault="unqualified" targetNamespace="http://juice.so.itl.mvno.kt.com/" version="1.0">
<xs:include schemaLocation="./xsd/MVNOCommHeader.xsd"></xs:include>
<xs:element name="gwHeader" type="tns:gwHeader"/>
<xs:element name="trtmPrdcStrgForCapri" type="tns:trtmPrdcStrgForCapri"/>
<xs:element name="trtmPrdcStrgForCapriResponse" type="tns:trtmPrdcStrgForCapriResponse"/>
<xs:complexType name="trtmPrdcStrgForCapri">
    <xs:sequence>
      <xs:element minOccurs="0" name="PrdcStrgForCapriTrtmInVO" type="tns:prdcStrgForCapriTrtmInVO"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="prdcStrgForCapriTrtmInVO">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="commHeader" type="tns:commHeader"/>
      <xs:element maxOccurs="1" minOccurs="1" name="bizHeader" type="tns:bizHeader"/>
      <xs:element minOccurs="0" name="inMsg" type="tns:prdcStrgForCapriTrtmInDTO"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="prdcStrgForCapriTrtmInDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="motSbst" type="xs:string"/>
      <xs:element minOccurs="0" name="slsCmpnCd" type="xs:string"/>
      <xs:element minOccurs="0" name="untsSvcCd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="trtmPrdcStrgForCapriResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:prdcStrgForCapriTrtmOutVO"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="prdcStrgForCapriTrtmOutVO">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="commHeader" type="tns:commHeader"/>
      <xs:element maxOccurs="1" minOccurs="1" name="bizHeader" type="tns:bizHeader"/>
      <xs:element minOccurs="0" name="outMsg" type="tns:prdcStrgForCapriTrtmOutDTO"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="prdcStrgForCapriTrtmOutDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="custNo" type="xs:string"/>
      <xs:element minOccurs="0" name="response" type="xs:string"/>
      <xs:element minOccurs="0" name="svcCntrNo" type="xs:string"/>
      <xs:element minOccurs="0" name="svcNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="soapHeader">
    <wsdl:part name="gwHeader" element="tns:gwHeader"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="trtmPrdcStrgForCapriResponse">
    <wsdl:part name="parameters" element="tns:trtmPrdcStrgForCapriResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="trtmPrdcStrgForCapri">
    <wsdl:part name="parameters" element="tns:trtmPrdcStrgForCapri">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CapriSbscTrmnSO">
    <wsdl:operation name="trtmPrdcStrgForCapri">
      <wsdl:input name="trtmPrdcStrgForCapri" message="tns:trtmPrdcStrgForCapri">
    </wsdl:input>
      <wsdl:output name="trtmPrdcStrgForCapriResponse" message="tns:trtmPrdcStrgForCapriResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CapriSbscTrmnSOServiceSoapBinding" type="tns:CapriSbscTrmnSO">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="trtmPrdcStrgForCapri">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="trtmPrdcStrgForCapri">
        <soap:header use="literal" message="tns:soapHeader" part="gwHeader" />
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="trtmPrdcStrgForCapriResponse">
      	<soap:header use="literal" message="tns:soapHeader" part="gwHeader" />
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CapriSbscTrmnSOService">
    <wsdl:port name="CapriSbscTrmnSOPort" binding="tns:CapriSbscTrmnSOServiceSoapBinding">
      <soap:address location="http://localhost:9090/CapriSbscTrmnSOPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
